Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Work on draft
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Replace all assertion libraries with Shouldly across test projects (#852)
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
  src/blog-comment-function/tests/BlogComments.Tests/Functions/ModelBinding/ModelBinderTests.cs
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Helpers/PemPrivateKeyConverterTests.cs
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Jwt/InMemoryRs256CryptographicSignerTests.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add copilot setup
  .github/workflows/copilot-setup-steps.yml
Due: none

Cleanup dependencies
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Fix versions
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  global.json
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Migrate all test projects to use MSTest.Sdk (#853)
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
  global.json
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
  src/blog-comment-function/tests/BlogComments.Tests/Functions/ModelBinding/ModelBinderTests.cs
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Helpers/PemPrivateKeyConverterTests.cs
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Jwt/InMemoryRs256CryptographicSignerTests.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update fontawesome to 7.0.0
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add missing deploy dependency
  .github/workflows/deploy.yml
Due: none

Add comment by Jeffry on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01K2CXQEMXMMCBWTGCZS44GW0D.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Jeffry on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01K2CXQHQ8XPKZ2A5NSQZXPQQ2.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Jeffry on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01K2CXQMK6NV7KQQVAKY750BB7.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Jeffry on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01K2CXQQA5ZC6NG91DJNDDV8V1.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.149.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Update draft
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.149.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.150.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.150.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.151.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.151.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.151.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.152.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.152.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.152.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.153.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.153.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.153.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.153.3
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.153.4
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.153.5
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.154.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.154.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.154.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.154.3
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.154.4
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.154.5
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

WIP
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update to .NET 10
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/pipeline.csproj
  global.json
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Fix paths
  build.ps1
Due: none

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
