Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Add comment by unaxoodukguzi on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01FR6BWFW65J5NKGD1HHSYW6E4.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by udawxutu on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01FR74PD2J3CKQE21J3H0A8QSC.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ikuzezijusazj on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01FR75BT01WQT4VJ0ZTMMQQ953.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ayaicunotos on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01FR7660F9DZF262RJXDXZY1GS.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ojuronoxtac on 2019-12-22_AuthorizingManagedServiceIdentityAzureSQL
  src/blog/data/comments/posts/2019-12-22_AuthorizingManagedServiceIdentityAzureSQL/01FRWDKA4VX1DQNDWSHKSZ6AGE.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by loveawake.ru on 2019-11-01_GuidCombSpan
  src/blog/data/comments/posts/2019-11-01_GuidCombSpan/01FSZSEF24W5QFAMHG8EGK6YSA.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ucnugiboroda on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01FT379EKC9YVB5RVNFXJJHJW9.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by avoehen on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01FT393X3C7M22BF5TX7W5NKKN.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by loveawake.ru on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01FTTG5P1156KB0AXC968BNCTM.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Move location variable to parameter
  eng/infra/blog.bicep
  eng/infra/keyVault.bicep
  eng/infra/monitoring.bicep
Due: none

Pass explicit location parameters
  eng/infra/blog.bicep
Due: none

Set explicit location
  eng/infra/blog.bicep
  eng/infra/monitoring.bicep
Due: none

Update hugo to 0.93.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Fix missing location in deployment
  eng/_pipeline/pipeline/Program.cs
  eng/infra/blog.bicep
Due: none

Update Functions SDK to 4.1.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump prismjs to 1.27.0
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump font-awesome to 6.0.0
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by loveawake.ru on 2019-11-01_GuidCombSpan
  src/blog/data/comments/posts/2019-11-01_GuidCombSpan/01FZ5Y413FCMVDDTNVG8KSA3EJ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by loveawake.ru on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G0FP8G2DSEY0B77S6CT27BKD.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by uqevefa on 2020-01-29_HostWebAppInAzure
  src/blog/data/comments/posts/2020-01-29_HostWebAppInAzure/01G28VM4F0AP2Y2THF66QWATR6.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ibulefedumaho on 2020-01-29_HostWebAppInAzure
  src/blog/data/comments/posts/2020-01-29_HostWebAppInAzure/01G28W7JE6TJ9BC9RSB137R4RZ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by typodarjum on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G2BTZ165FG38T4JY6XC8415Z.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by typodarapami on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G2EBNCB3YR7B6DMCKHH58A1G.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump FluentValidation to 11.0.1
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Octokit to 0.51.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump FluentValidation to 6.6.0
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Replace usage of deprecated method
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Extend timeout for storage firewall rule
  eng/_pipeline/pipeline/Azure/AzStorage.cs
Due: none

Add comment by Test on 2020-07-09_FakeGitVersionLocalTool
  src/blog/data/comments/posts/2020-07-09_FakeGitVersionLocalTool/01G2G6X2V36AX3YWC66XZP74KE.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Ramon on 2019-11-01_GuidCombSpan
  src/blog/data/comments/posts/2019-11-01_GuidCombSpan/01G3E8JF3EDXK3D97YKN5CS3PF.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix reply to comment function
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Fix wrong reference
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add reply by Test on 2019-12-22_AuthorizingManagedServiceIdentityAzureSQL, thread 01EPVDAN1VFZGJXS407DMG8XXW
  src/blog/data/comments/posts/2019-12-22_AuthorizingManagedServiceIdentityAzureSQL/01EPVDAN1VFZGJXS407DMG8XXW.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Make deployment of content more robust
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/Program.cs
  eng/infra/blog.bicep
Due: none

Bump hugo to 0.99.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Fix build warnings
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
Due: none

Bump Nuke.Common to 6.0.3
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/Azure/AzCliCleanupDisposable.cs
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/IProvideConfiguration.cs
  eng/_pipeline/pipeline/Program.cs
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Bump prismjs to 1.28.0
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump font-awesome to 6.1.1
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add reply by Jos van der Til on 2019-11-01_GuidCombSpan, thread 01G3E8JF3EDXK3D97YKN5CS3PF
  src/blog/data/comments/posts/2019-11-01_GuidCombSpan/01G3E8JF3EDXK3D97YKN5CS3PF.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
