Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Disable tests for now
  eng/_pipeline/pipeline/IBlogCommentFunctionPipeline.cs
  global.json
Due: none

Update global.json
  global.json
Due: none

chore: update HugoVersion to 0.155.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.155.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.155.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.155.3
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.156.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.157.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.158.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.159.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.159.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.159.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.160.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.160.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.161.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.161.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add copilot instructions
  .github/copilot-instructions.md
Due: none

Update packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/pipeline.csproj
  global.json
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update .NET version
  .github/workflows/build.yml
  .github/workflows/copilot-setup-steps.yml
  global.json
Due: none

Move function app to OpenTelem
  eng/infra/blog.bicep
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/src/BlogComments/Program.cs
  src/blog-comment-function/src/BlogComments/host.json
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update font-awesome to 7.2.0
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.3.8
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.3.8/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove usage of deprecated Hugo variables
  src/blog/config/_default/config.toml
  src/blog/layouts/_default/baseof.html
  src/blog/layouts/_default/single.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Test on 2024-05-03-AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03-AzureSqlDatabasePrivateEndpoint/01KQG676ARHSGCSJ64YRX7988D.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Move NUKE build to pwsh
  .gitignore
  .nuke/parameters.json
  azure-pipelines.yml
  build.ps1
  build.sh
  eng/_pipeline/BicepPsGenerator/BicepPsGenerator.csproj
  eng/_pipeline/BicepPsGenerator/Program.cs
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
  eng/_pipeline/_pipeline.sln
  eng/_pipeline/pipeline/.editorconfig
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/Azure/AzCliCleanupDisposable.cs
  eng/_pipeline/pipeline/Azure/AzFunctionApp.cs
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/Bicep.cs
  eng/_pipeline/pipeline/CloudFlare/CloudFlareClient.cs
  eng/_pipeline/pipeline/CloudFlare/CloudFlareResponse.cs
  eng/_pipeline/pipeline/CloudFlare/DnsRecord.cs
  eng/_pipeline/pipeline/CloudFlare/DnsRecordType.cs
  eng/_pipeline/pipeline/Configuration.cs
  eng/_pipeline/pipeline/Directory.Build.props
  eng/_pipeline/pipeline/Directory.Build.targets
  eng/_pipeline/pipeline/Environment.cs
  eng/_pipeline/pipeline/IBlogCommentFunctionPipeline.cs
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/IClean.cs
  eng/_pipeline/pipeline/IProvideArtifactsDirectory.cs
  eng/_pipeline/pipeline/IProvideConfiguration.cs
  eng/_pipeline/pipeline/IProvideSourceDirectory.cs
  eng/_pipeline/pipeline/Program.cs
  eng/_pipeline/pipeline/Properties/launchSettings.json
  eng/_pipeline/pipeline/pipeline.csproj
  eng/_pipeline/pipeline/pipeline.csproj.DotSettings
  eng/azure-devops/steps/ensure-dotnet.yml
  eng/scripts/Build-Content.ps1
  eng/scripts/Build-Function.ps1
  eng/scripts/Clean.ps1
  eng/scripts/CloudFlare.psm1
  eng/scripts/Deploy.ps1
  eng/scripts/Serve.ps1
Due: none

Fix file naming
  src/blog/content/posts/2024-05-03_AzureSqlDatabasePrivateEndpoint.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add AI assistance post
  src/blog/content/posts/2026-05-01_AiAssistedWriting.md
  src/blog/layouts/_default/list.html
  src/blog/layouts/_default/single.html
  src/blog/layouts/_default/summary.html
  src/blog/layouts/partials/ai-assisted-notice.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.162.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.162.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.163.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Fix bicep syntax
  src/blog/content/posts/2022-06-22_EasyAzureRBACWithBicep.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.163.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.163.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.163.3
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Bump Blog function to .NET 10 runtime
  eng/infra/blog.bicep
Due: none

Migrate to Flex Consumption for .NET 10
  eng/infra/blog.bicep
  eng/infra/modules/storage-account-role.bicep
Due: none

Update packages
  global.json
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Create separate flex function app
  eng/infra/blog.bicep
Due: none

Configure memory limit
  eng/infra/blog.bicep
Due: none

Configure maximumInstanceCount
  eng/infra/blog.bicep
Due: none

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
