Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Fix check resulting in long wait when permissions are active
  eng/_pipeline/pipeline/Azure/AzStorage.cs
Due: none

Add user agent to Hugo download
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add exception when wait time is exceeded
  eng/_pipeline/pipeline/Azure/AzStorage.cs
Due: none

Disable function app client cert prompt
  eng/infra/blog.bicep
Due: none

Fix key vault firewall rules
  eng/infra/blog.bicep
Due: none

Enable App Insights agent
  eng/infra/blog.bicep
Due: none

Explicitly clear SCM firewall
  eng/infra/blog.bicep
Due: none

Switch to PRD
  azure-pipelines.yml
  src/blog/config.toml
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Specify condition for deployment
  azure-pipelines.yml
Due: none

Use environment parameter in AzCli
  eng/_pipeline/pipeline/Program.cs
Due: none

Add pipeline yaml to solution
  eng/_pipeline/_pipeline.sln
Due: none

Cleanup dependabot
  .github/dependabot.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update build badge
  README.md
Due: none

Fix trigger branch
  azure-pipelines.yml
Due: none

Update README.md
  README.md
Due: none

Fix condition of deployment
  azure-pipelines.yml
Due: none

Rename master branch to main
  azure-pipelines.yml
  src/blog/config.toml
  src/blog/layouts/partials/footer.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update cookie-statement for new darkmode code
  src/blog/content/cookie-statement.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix pipeline for renamed main branch
  azure-pipelines.yml
Due: none

Fix darkmode toggle from keyboard
  src/blog/assets/js/darkmode.ts
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add multiple environment support
  eng/_pipeline/pipeline/Configuration.cs
  eng/_pipeline/pipeline/Environment.cs
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/Program.cs
  eng/hugo-serve.cmd
  src/blog/config/_default/config.toml
  src/blog/config/dev/params.toml
  src/blog/config/prd/config.toml
  src/blog/config/prd/params.toml
  src/blog/config/tst/config.toml
  src/blog/config/tst/params.toml
  src/blog/layouts/_default/single.html
  src/blog/layouts/partials/blog-comment.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Disable firewall for storage while uploading
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/Program.cs
Due: none

Remove old hugo script
  src/blog/.gitignore
  src/blog/hugo.ps1
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add detection of user darkmode preference
  src/blog/assets/js/darkmode.ts
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix AzCli parameters
  eng/_pipeline/pipeline/Azure/AzStorage.cs
Due: none

Add retry logic for uploading blog content
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/Program.cs
Due: none

Add user dark-mode preference change listener
  src/blog/assets/js/darkmode.ts
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove __cfduid cookie from statement
  src/blog/content/cookie-statement.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Move sleep out of catch
  eng/_pipeline/pipeline/Azure/AzStorage.cs
Due: none

Add delay to retry
  eng/_pipeline/pipeline/Program.cs
Due: none

Add new avatar
  src/blog/assets/css/single.scss
  src/blog/static/img/avatar3.jpg
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove table striping
  src/blog/assets/css/single.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix comment function
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update branch of build status icon
  README.md
Due: none

Add required attributes to comment form
  src/blog/layouts/_default/single.html
  src/blog/layouts/partials/blog-comment.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix nullable annotations
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/AntiSpamValidator.cs
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentContents.cs
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
  src/blog-comment-function/src/BlogComments/Startup.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Refactor IP address retrieval
  eng/_pipeline/pipeline/Program.cs
Due: none

Use explicit types when not clear
  eng/_pipeline/pipeline/Program.cs
Due: none

Add comment by icaucato on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01FR6BJW7GAKMDPVZJF8EKYTHF.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
