Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Bump FluentValidation to 10.2.3
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump FluentValidation to 10.3.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi.Azure to 4.11.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.CloudFlare to 3.3.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump prismjs to 1.24.1
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump prismjs-themes to 1.8.0
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.0.2
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.0.2/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by pharmacepticacom on 2018-08-13_HelloWorld
  src/blog/data/comments/posts/2018-08-13_HelloWorld/01FBESHT004Y7WJ2E331CQ2Z2S.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by PandP on 2018-08-13_HelloWorld
  src/blog/data/comments/posts/2018-08-13_HelloWorld/01FHZS2S9XQYDMJKZZNZ7PY8PQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.CloudFlare to 4.0.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 4.23.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump bootstrap to 5.1.3
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.1.3/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump prismjs to 1.25.0
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump fontawesome to 5.15.4
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump FluentValidation to 10.3.3
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump prism-themes to 1.9.0
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Test on 2020-07-09_FakeGitVersionLocalTool
  src/blog/data/comments/posts/2020-07-09_FakeGitVersionLocalTool/01FMAZR208MCV2SZJ8MPK2VAPK.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by uqodgokupe on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01FPPW97V5QV36KANZQQ707NJ9.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by gazisoduemuha on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01FPPX151C2RMX8WG5Z7NMMMH4.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add keyvault and CORS
  .gitignore
  eng/_pipeline/pipeline/CloudFlare/CloudFlareClient.cs
  eng/_pipeline/pipeline/Program.cs
  eng/infra/blog.bicep
  eng/infra/keyVault.bicep
Due: none

Add new Azure pipeline
  azure-pipelines.yml
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/Program.cs
Due: none

Update pipeline
  azure-pipelines.yml
Due: none

Add pre deployment requirement checks
  eng/_pipeline/pipeline/Program.cs
Due: none

Fix blog content build on Linux
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Try fix permissions on hugo Linux
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Update BlogComments to .NET 6
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/AntiSpamValidator.cs
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Fix null ref in spam validator
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/AntiSpamValidator.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Hugo to 0.91.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Fix artifact download
  azure-pipelines.yml
Due: none

Fix deployment not running in Az CLI
  azure-pipelines.yml
Due: none

Fix KeyVault configuration
  eng/infra/blog.bicep
Due: none

Add names for pipeline jobs
  azure-pipelines.yml
Due: none

Fix KeyVault firewall
  eng/infra/blog.bicep
  eng/infra/keyVault.bicep
Due: none

Fix KeyVault uri
  eng/infra/blog.bicep
Due: none

Add explicit dependency for keyvault policy
  eng/infra/blog.bicep
Due: none

Trim whitespace when reading CLI output
  eng/_pipeline/pipeline/Azure/AzCli.cs
Due: none

Trim IP address response
  eng/_pipeline/pipeline/Program.cs
Due: none

Increase timeout and improve logging of storage checks
  eng/_pipeline/pipeline/Azure/AzStorage.cs
Due: none

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
