Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader

Set author comment flag
  src/blog/data/comments/posts/2019-11-01_GuidCombSpan/01G3E8JF3EDXK3D97YKN5CS3PF.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove Google Analytics
  src/blog/layouts/_default/baseof.html
  src/blog/layouts/partials/deps/js/google.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump FluentValidation to 11.0.2
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Functions SDK to 4.1.1
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Hugo to 0.100.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Make tables in comments responsive
  src/blog/layouts/partials/blog-comment.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Rename partial scss files
  src/blog/assets/css/_comments.scss
  src/blog/assets/css/_darkmode.scss
  src/blog/assets/css/_footer.scss
  src/blog/assets/css/_highlight-dark.scss
  src/blog/assets/css/_navbar.scss
  src/blog/assets/css/_prismjs.scss
  src/blog/assets/css/_single.scss
  src/blog/assets/css/_summary.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Change default font to Poppins
  src/blog/assets/css/_fonts.scss
  src/blog/assets/css/main.scss
  src/blog/assets/fonts/poppins/Poppins-Bold.ttf
  src/blog/assets/fonts/poppins/Poppins-Italic.ttf
  src/blog/assets/fonts/poppins/Poppins-Regular.ttf
  src/blog/layouts/_default/baseof.html
  src/blog/layouts/partials/deps/fonts/index.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add toggle for deprecation warning
  src/blog/config/_default/config.toml
  src/blog/layouts/partials/deprecated-warning.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump hugo to 0.101.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add RBAC for Azure with Bicep post
  src/blog/content/posts/2022-06-22_EasyAzureRBACWithBicep.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump FluentValidation to 11.0.3
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update unit test dependencies
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
Due: none

Bump Microsoft.CodeAnalysis packages to 4.2.0
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
Due: none

Bump Humanizer to 2.14.1
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
Due: none

Update Nuke.Common to 6.1.0
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Enable easy debugging for source generator
  eng/_pipeline/StronglyTypedBicepGenerator/Properties/launchSettings.json
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
Due: none

Remove Google Fonts
  src/blog/assets/css/main.scss
  src/blog/layouts/partials/deps/css/index.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Use Fira Code for code blocks
  src/blog/assets/css/_fonts.scss
  src/blog/assets/css/_prismjs.scss
  src/blog/assets/fonts/firacode-6.2/FiraCode-VF.woff2
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/fonts/index.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove more Google Fonts
  src/blog/assets/css/_navbar.scss
  src/blog/assets/css/_summary.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

New colors for code block styling
  src/blog/assets/css/_prismjs.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add copy to clipboard button for code blocks
  src/blog/assets/css/_prismjs.scss
  src/blog/assets/js/customize-prism.js
  src/blog/layouts/_default/baseof.html
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/layouts/partials/deps/js/prismjs.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Avoid empty page while loading fonts
  src/blog/assets/css/_fonts.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update cookie statement
  src/blog/content/cookie-statement.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by loveawake.ru on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G6GF04SGJY6QSA19F65P9X5W.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update anti spam terms
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/AntiSpamValidator.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Enable preloading of fonts
  src/blog/layouts/_default/baseof.html
  src/blog/layouts/partials/deps/fonts/index.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix Azure RBAC post errors
  src/blog/content/posts/2022-06-22_EasyAzureRBACWithBicep.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ebenirudedeoy on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G6PQSB228CJ9PWMF56YKE8VS.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by isizisigaw on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G6PRSCBG6ANK2T18GV5VZQVZ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by epukigosew on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G6PSPZR7QZPMM37FEFP59QWB.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by uzvenihunajo on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G6QMDX8VES1CNJ0K3BVVGHRX.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by aneqimedafe on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01G6QNEDC8AXTHBRH6KB0VJ3PX.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add spam term
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/AntiSpamValidator.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add capturing MSTest logging post
  src/blog/assets/css/_single.scss
  src/blog/content/posts/2022-07-07_TestingLoggingMsTest/index.md
  src/blog/content/posts/2022-07-07_TestingLoggingMsTest/screenshot.png
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add blog post
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines.md
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01-pipeline-overview.png
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/02-edit-pipeline.png
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/03-edit-triggers.png
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/04-uncheck-shallow-fetch.png
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/index.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Jens on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01GFB1ASKQD6H269223YVWN9XH.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix formatting
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01GFB1ASKQD6H269223YVWN9XH.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add reply by Jos van der Til on 2022-06-22_EasyAzureRBACWithBicep, thread 01GFB1ASKQD6H269223YVWN9XH
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01GFB1ASKQD6H269223YVWN9XH.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update author comment flag
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01GFB1ASKQD6H269223YVWN9XH.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml
