Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts/uploader
        artifact: bin
        publishLocation: pipeline

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Bump .NET Core dependencies to 3.1.9
  src/Uploader/src/Uploader/Uploader.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/uploader.yml

Add GitHub Actions for blog content
  .github/workflows/content.yml
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

Add GitHub Action for content
  .github/workflows/content.yml
Due: none

Fix path in PR trigger
  .github/workflows/content.yml
Due: none

Bump bootstrap to 4.5.3
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-4.5.3/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump prism-themes to 1.5.0
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.27.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 3.28.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.CloudFlare to 2.7.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Add comment by ocageyiufey on 2019-03-16_SshCmdletsInPoshGit
  src/blog/data/comments/posts/2019-03-16_SshCmdletsInPoshGit/01EPH55BWX8KK3P3WMZ5WG0MN9.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by esubudop on 2019-03-16_SshCmdletsInPoshGit
  src/blog/data/comments/posts/2019-03-16_SshCmdletsInPoshGit/01EPH67QNCS7XBB0VV77KADV1Y.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.30.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Add comment by Nico on 2019-12-22_AuthorizingManagedServiceIdentityAzureSQL
  src/blog/data/comments/posts/2019-12-22_AuthorizingManagedServiceIdentityAzureSQL/01EPVDAN1VFZGJXS407DMG8XXW.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add threaded comments
  src/blog-comment-function/src/BlogComments/SubmitPostCommentReply.cs
  src/blog/assets/css/comments.scss
  src/blog/assets/css/main.scss
  src/blog/assets/css/single.scss
  src/blog/assets/js/comment-form.js
  src/blog/layouts/_default/single.html
  src/blog/layouts/partials/blog-comment.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add README
  README.md
Due: none

Fix source path for trigger
  .ci/azure-pipelines/BlogCommentFunctionCI.yml
Due: none

Add reply by Jos van der Til on 2019-12-22_AuthorizingManagedServiceIdentityAzureSQL, thread 01EPVDAN1VFZGJXS407DMG8XXW
  src/blog/data/comments/posts/2019-12-22_AuthorizingManagedServiceIdentityAzureSQL/01EPVDAN1VFZGJXS407DMG8XXW.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Set authorComment
  src/blog/data/comments/posts/2019-12-22_AuthorizingManagedServiceIdentityAzureSQL/01EPVDAN1VFZGJXS407DMG8XXW.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update README.md
  README.md
Due: none

Add retry with exponential backoff
  src/Uploader/src/Uploader/Program.cs
Due: .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/uploader.yml

Add reply by Nico on 2019-12-22_AuthorizingManagedServiceIdentityAzureSQL, thread 01EPVDAN1VFZGJXS407DMG8XXW
  src/blog/data/comments/posts/2019-12-22_AuthorizingManagedServiceIdentityAzureSQL/01EPVDAN1VFZGJXS407DMG8XXW.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump to .NET 5
  src/Uploader/src/Uploader/JsonHttpContent.cs
  src/Uploader/src/Uploader/Uploader.csproj
  src/Uploader/test/Uploader.Tests/Uploader.Tests.csproj
Due: .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/uploader.yml

Add test project
  src/blog-comment-function/BlogComments.sln
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Helpers/PemPrivateKeyConverterTests.cs
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Jwt/Rs256CryptographicSignerTests.cs
Due: none

Rename PostExistenceChecker to Validator
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostComment.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostCommentReply.cs
  src/blog-comment-function/src/BlogComments/Functions/Validation/CachingPostExistenceValidatorDecorator.cs
  src/blog-comment-function/src/BlogComments/Functions/Validation/GitHubPostExistenceValidator.cs
  src/blog-comment-function/src/BlogComments/Functions/Validation/IPostExistenceValidator.cs
  src/blog-comment-function/src/BlogComments/Startup.cs
Due: none

Refactor SubmitPostComment function
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentModel.cs
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostComment.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostCommentReply.cs
  src/blog-comment-function/src/BlogComments/Functions/Validation/CachingPostExistenceCheckerDecorator.cs
  src/blog-comment-function/src/BlogComments/Functions/Validation/IPostExistenceChecker.cs
  src/blog-comment-function/src/BlogComments/Functions/Validation/PostExistenceChecker.cs
  src/blog-comment-function/src/BlogComments/GitHub/GitHubClientFactory.cs
  src/blog-comment-function/src/BlogComments/GitHub/Helpers/PemPrivateKeyConverter.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/AppClientTokenGenerator.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/ICryptographicSigner.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/IReadOnlyMemoryOwner.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/KeyVaultRs256CryptographicSigner.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/PooledByteBufferWriter.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/Rs256CryptographicSigner.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/Utf8JsonSerializer.cs
  src/blog-comment-function/src/BlogComments/ISystemClock.cs
  src/blog-comment-function/src/BlogComments/RealSystemClock.cs
  src/blog-comment-function/src/BlogComments/Startup.cs
  src/blog-comment-function/src/BlogComments/SubmitPostComment.cs
  src/blog-comment-function/src/BlogComments/local.settings.json
Due: none

Refactor comment reply function
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/ModelBinder.cs
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentContents.cs
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentModel.cs
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostComment.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostCommentReply.cs
Due: none

Add CommentRepository to Startup
  src/blog-comment-function/src/BlogComments/Startup.cs
Due: none

Fix Azure credentials for KeyVault client
  src/blog-comment-function/src/BlogComments/Startup.cs
Due: none

Ignore *.pem files
  src/blog-comment-function/.gitignore
Due: none

Fix serialization issues
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentModel.cs
Due: none

Remove validation attribute from CommentModel
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentModel.cs
Due: none

Add debug endpoint to config
  src/blog/config.toml
  src/blog/layouts/_default/single.html
  src/blog/layouts/partials/blog-comment.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.30.1
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Add .NET 5 SDK step to pipeline
  .ci/azure-pipelines/BlogUploaderCI.yml
Due: .ci/azure-pipelines/BlogUploaderCI.yml

Fix version number syntax
  .ci/azure-pipelines/BlogUploaderCI.yml
Due: .ci/azure-pipelines/BlogUploaderCI.yml

Add comment by axsutaqop on 2019-12-22_AuthorizingManagedServiceIdentityAzureSQL
  src/blog/data/comments/posts/2019-12-22_AuthorizingManagedServiceIdentityAzureSQL/01EQ7P83YCJDA3EJXCTHQMYEYF.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Path conditions:
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
