Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader

Try fix permissions
  eng/infra/blog.bicep
  eng/infra/modules/storage-account-role.bicep
Due: none

Fix storage account name
  eng/infra/blog.bicep
Due: none

Update comment URL
  src/blog/config/prd/params.toml
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by test on 2024-05-03_AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03_AzureSqlDatabasePrivateEndpoint/01KVV8EY7R2BV4AVG37EAEMC6N.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

chore: update HugoVersion to 0.164.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add comment by 1 on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01KXZRHWXN1608N7P50PQWCDNQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by 1 on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01KXZRHWSEWTVGRK99BK8J3N3T.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/pipeline.csproj
  global.json
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Hugo
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Bump font-awesome to 7.3.1
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.165.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add comment by 📊 (1) MESSAGE for you №X4211 OPEN -> graph.org/Cloud-Mining-08-27?hs=a1eeedfe1fd0f13a63476b9121970a95& 📊 on 2024-05-03_AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03_AzureSqlDatabasePrivateEndpoint/01M14NX6XGGFBE0G45SQ5GE3S6.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by 💵 ONE MESSAGE for you №J7011 READ -> graph.org/Cloud-Mining-08-27?hs=a1eeedfe1fd0f13a63476b9121970a95& 💵 on 2024-05-03_AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03_AzureSqlDatabasePrivateEndpoint/01M1A14B8R9YHEMWT0Y57TJ9J9.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add Github Action to dependabot
  .github/dependabot.yml
Due: none

Update workflow steps
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy.yml
  .github/workflows/update-hugo-version.yml
Due: none

Update workflow steps
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

Add IConfigureOptions post
  src/blog/content/posts/2026-04-30-AvoidBuildServiceProvider.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by 📌 +2.84567738 BTC. GET -> graph.org/Mining-08-27-2?hs=70d80083c8bd4d4a8347cc9dc49774ba& 📌 on 2026-04-30-AvoidBuildServiceProvider
  src/blog/data/comments/posts/2026-04-30-AvoidBuildServiceProvider/01M1RW8G9BJMCHXY199GSXBWTQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.166.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add comment by 🛠 Transfer # T5371 from Coinbase. GET ->>> graph.org/Bitcoin-Mining-08-27?hs=70d80083c8bd4d4a8347cc9dc49774ba& 🛠 on 2026-04-30-AvoidBuildServiceProvider
  src/blog/data/comments/posts/2026-04-30-AvoidBuildServiceProvider/01M2DCSPW791NY469BTPZEVKK8.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Dan on 2026-04-30-AvoidBuildServiceProvider
  src/blog/data/comments/posts/2026-04-30-AvoidBuildServiceProvider/01M2N7PTSHSTS316W5A0YJDZK1.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.167.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Migrate Nuke to Fallout
  .fallout/parameters.json
  .gitignore
  build.ps1
  build.sh
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsModulesAsSeparateDeployments#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputs#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputsWhenUsingFullyQualifiedAttribute#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsParametersWithInputs#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/Azure/AzCliCleanupDisposable.cs
  eng/_pipeline/pipeline/Azure/AzFunctionApp.cs
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/Configuration.cs
  eng/_pipeline/pipeline/Environment.cs
  eng/_pipeline/pipeline/IBlogCommentFunctionPipeline.cs
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/IClean.cs
  eng/_pipeline/pipeline/IProvideArtifactsDirectory.cs
  eng/_pipeline/pipeline/IProvideConfiguration.cs
  eng/_pipeline/pipeline/IProvideSourceDirectory.cs
  eng/_pipeline/pipeline/Program.cs
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Migrate Nuke to Fallout (#980)
  .fallout/parameters.json
  .gitignore
  build.ps1
  build.sh
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsModulesAsSeparateDeployments#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputs#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputsWhenUsingFullyQualifiedAttribute#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsParametersWithInputs#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/Azure/AzCliCleanupDisposable.cs
  eng/_pipeline/pipeline/Azure/AzFunctionApp.cs
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/Configuration.cs
  eng/_pipeline/pipeline/Environment.cs
  eng/_pipeline/pipeline/IBlogCommentFunctionPipeline.cs
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/IClean.cs
  eng/_pipeline/pipeline/IProvideArtifactsDirectory.cs
  eng/_pipeline/pipeline/IProvideConfiguration.cs
  eng/_pipeline/pipeline/IProvideSourceDirectory.cs
  eng/_pipeline/pipeline/Program.cs
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Update packages
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Verify
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
Due: none
