Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Add deploy workflow
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

Add deploy workflow (#764)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

Install script dependencies in AzCLI step
  .github/workflows/deploy.yml
Due: none

Update NuGet packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/pipeline.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update minimum TLS cipher strength
  eng/infra/blog.bicep
Due: none

Limit deploy workflow concurrency
  .github/workflows/deploy.yml
Due: none

Bump Hugo to 0.140.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Install AzCopy in AzCLI step
  .github/workflows/deploy.yml
Due: none

Add comments
  .github/workflows/deploy.yml
Due: none

Remove redundant .NET installation from Deploy
  .github/workflows/deploy.yml
  build.ps1
  build.sh
Due: none

Update font-awesome to 6.7.2
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update packages
  .github/dependabot.yml
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/pipeline.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update Hugo to 0.145.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Update .NET packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump prismjs to 1.30.0
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update source generator to incremental
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
Due: none

Add comment by http://Boyarka-inform.com/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JR9QKC1K17JS6GZ94BY1NJ0R.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by http://Boyarka-inform.com/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JR9QKEPFSMQRNR90THC9JFMN.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by http://Boyarka-inform.com/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JR9QKH7N2M371VGJX4RHRSPQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by http://Boyarka-inform.com/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JR9QKKKMQH5B5QD8V8W14EGF.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add comment by altercash.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JT5YWBX50JBMJQW6X0GZQ65B.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by altercash.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JT5YWF580QSJWGR5NWHVBMQ2.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by altercash.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JT5YWJ72XFAP9B8AA418HMKM.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by altercash.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JT5YWMXXRM7YSD7FMB98ZSSQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by cuisiniste montréal on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JTCAJFE6XHEB59014PJEBN5E.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by cuisiniste montréal on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JTCAJKKC2VJA3ZN6FRTFB0F5.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by cuisiniste montréal on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JTCAJQQQQDZSVJS96YE08182.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by cuisiniste montréal on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JTCAJVHPEC65SXBBVWJG80D8.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Magenta Photo on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JW420RT0Y7JM32WVR90PS5WZ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Magenta Photo on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JW420Z9AEGV9A8BFS520V6Y1.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Magenta Photo on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JW42158SS7CCANZ8PN5B0GQV.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Magenta Photo on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JW421BDFNTAFVG3H4WWX0ZRQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add action to update Hugo version automatically
  .github/workflows/update-hugo-version.yml
Due: none

Update Hugo pipeline
  .github/workflows/update-hugo-version.yml
Due: none

chore: update HugoVersion to 0.147.6
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Bump bootstrap to 5.3.6
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.3.6/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update status badge
  README.md
Due: none

Add comment by https://chefthierry.ca/creme-de-carotte/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWB51AJRCYB4ETZTNFJ4V9ZX.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by https://chefthierry.ca/creme-de-carotte/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWB51DEPH7DGZWR7ZKQ6VVEG.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
