Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader

Add comment by https://chefthierry.ca/creme-de-carotte/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWB51GERRSCR7PWV9EEE9GNM.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by https://chefthierry.ca/creme-de-carotte/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWB51K4T0PTSBFNDNX3S4TEB.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.147.7
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add comment by https://gestioncoulombe.com/gestion-locative/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWX5PCE8JWX4TSM33YA3Q41M.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by https://gestioncoulombe.com/gestion-locative/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWX5PG18HG02E212613NF2KX.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by https://gestioncoulombe.com/gestion-locative/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWX5PKK3KDG4QP5362JRYF38.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by https://gestioncoulombe.com/gestion-locative/ on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JWX5PPV649J7N8GEM1P3HXVA.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Vegtech on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX4W1P3B8KC09ERNENF31MKS.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Vegtech on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX4W1SV3QV2GA6YPSCJCDG2M.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Vegtech on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX4W1XCAAFT269KAYNK789WD.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Vegtech on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX4W20SZNJ7506B44ZBRHRGX.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.147.8
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add comment by www.myozen.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX8P32JWZREDV7SSW8GYX915.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by www.myozen.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX8P36MGR86EA2C1XGVNGFV2.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by www.myozen.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX8P3AT7REN3VYZGPMH68A7E.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by www.myozen.ca on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JX8P3GRJNHEDPP54H1S8RYQZ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Miss Griffintown on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXRKJ3JB0KW5T8K7864Y5R93.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Miss Griffintown on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXRKJ82T492ZC8QM9EPNB2YG.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Miss Griffintown on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXRKJCC8GH51HM9V90X18XAE.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Miss Griffintown on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXRKJG1VW0HV2JWJAJE6T73D.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by www.lescaledetente.com on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXT4M2R7SDFHH1E691T47SE3.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by www.lescaledetente.com on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXT4M8AXG1E05WRB97NAYTZQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by www.lescaledetente.com on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXT4MEK2EQ17K1HASARG7PCF.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by www.lescaledetente.com on 2022-07-07_TestingLoggingMsTest
  src/blog/data/comments/posts/2022-07-07_TestingLoggingMsTest/01JXT4MMYKEFYWB7PSBJG596V8.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.147.9
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.148.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to 0.148.1
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

chore: update HugoVersion to null
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Fix pipeline to skip update if new version is null
  .github/workflows/update-hugo-version.yml
Due: none

Bump bootstrap to 5.3.7
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.3.7/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix code highlighting
  src/blog/config/_default/config.toml
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update NuGet packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add post draft
  src/blog/content/posts/2025-07-26-TestingAuthorizationMultiUsers.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add post draft
  src/blog/content/posts/2025-07-26-MultiColumnIdQueryEF.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add draft post
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update draft
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Work on draft
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Revise draft
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

chore: update HugoVersion to 0.148.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add modern approach to draft
  src/blog/content/posts/2025-07-26_DynamicObjectCreationWithILEmit.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml
