Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Fix incorrectly formatted blog post
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines.md
  src/blog/content/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/index.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add reply by Jens on 2022-06-22_EasyAzureRBACWithBicep, thread 01GFB1ASKQD6H269223YVWN9XH
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01GFB1ASKQD6H269223YVWN9XH.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix formatting
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01GFB1ASKQD6H269223YVWN9XH.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump FluentValidation to 11.2.2
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump .NET dependencies
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump prismjs to 1.29.0
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump jquery to 3.6.1
  src/blog/layouts/partials/deps/js/jquery.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump fontawesome to 6.2.0
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.2.2
  src/blog/assets/css/_navbar.scss
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.1.3/bootstrap.css
  src/blog/assets/dist/bootstrap-5.2.2/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix nullability warning in post
  src/blog/content/posts/2022-07-07_TestingLoggingMsTest/index.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Prevent possible exception when completing channel
  src/blog/content/posts/2022-07-07_TestingLoggingMsTest/index.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by DavidLap on 2020-01-29_HostWebAppInAzure
  src/blog/data/comments/posts/2020-01-29_HostWebAppInAzure/01GN6JRZJMN1D3G1SPSH0DX3X0.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update .NET packages
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/pipeline.csproj
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update hugo package and .NET 7
  azure-pipelines.yml
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Update packages
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Revert back to .NET 6
  azure-pipelines.yml
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Revert code analysis package update for now
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
Due: none

Add comment by Test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01GV3WQQ2WEYT0MNXM47YTHRB3.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Erronge on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01GW4JKAZ8MMWXA0EM57ESPPVZ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by FrankVaf on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01GZBKEX1PSFBY9BQAG9TF857Y.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by EdwinPhork on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01GZPHRE3ECCPWJ0QP3KGKP3DW.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by EdwinPhork on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01GZSEAXBP343RJ53ETMHT2N9Z.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update Azure subscription
  azure-pipelines.yml
Due: none

Modernize bicep
  eng/infra/blog.bicep
Due: none

Update packages
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/src/BlogComments/Startup.cs
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add comment by Emran Hossain on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01H5MGTBE75W3YT11WQZS2X2SV.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update RBAC post to include principalType
  src/blog/content/posts/2022-06-22_EasyAzureRBACWithBicep.md
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01H5MGTBE75W3YT11WQZS2X2SV.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add reply by Jos van der Til on 2022-06-22_EasyAzureRBACWithBicep, thread 01H5MGTBE75W3YT11WQZS2X2SV
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01H5MGTBE75W3YT11WQZS2X2SV.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Format reply
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01H5MGTBE75W3YT11WQZS2X2SV.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update 01H5MGTBE75W3YT11WQZS2X2SV.json
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01H5MGTBE75W3YT11WQZS2X2SV.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update packages
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump bootstrap to 5.3.1
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.3.1/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01HA73QQGZN9YZSH25G6K0ATXW.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by TerryIndek on 2019-03-16_SshCmdletsInPoshGit
  src/blog/data/comments/posts/2019-03-16_SshCmdletsInPoshGit/01HC8GCJMAFSTN0CSFTWPPXTBM.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update pipeline packages
  eng/_pipeline/.gitignore
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/Startup.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsAttributeClass#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsModulesAsSeparateDeployments#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsModulesAsSeparateDeployments#NewStronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputs#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputs#NewStronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputsWhenUsingFullyQualifiedAttribute#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputsWhenUsingFullyQualifiedAttribute#NewStronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsParametersWithInputs#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsParametersWithInputs#NewStronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/TestFiles/inputOnly.bicep
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/TestFiles/moduleTemplate.bicep
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/TestFiles/outputOnly.bicep
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/TestFiles/templateWithModule.bicep
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  eng/_pipeline/pipeline/IBlogCommentFunctionPipeline.cs
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/IClean.cs
  eng/_pipeline/pipeline/Program.cs
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Update .NET SDK to 8.0
  azure-pipelines.yml
Due: none

Update pipeline to .NET 8
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Up the timeout
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Disable binary formatter error
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
