Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Add comment by Richardblurn on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01J7JAVYGRAVG6A9Y5ZRPJQMP6.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Richardblurn on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01J7N46Y97BQWN9SN67JHRY13H.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Richardblurn on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01J7Q4NCE31ZCSCZPAEQ9XR3SQ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by mood gummies on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01J7SWJG9QVX4GJY3614HF6EA9.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by JeffreyZek on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01J8443F2YC2MJ9S9T7Q6W3ETD.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by JeffreyZek on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01J85MQGVE9293AQTAVPPR0SM8.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ductless system on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01J86Z1G79ZE9N3YWXY1P3805Z.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by NikePet on 2018-08-13_HelloWorld
  src/blog/data/comments/posts/2018-08-13_HelloWorld/01JBVEJZ44Z39MFP9YMGPRQS7E.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Kennethfoova on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JBZ1F2NNJA96BMW6BAKDH74J.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by AnthonyLip on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JC1RQ6KZW0QRXQE23P92ZVDX.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update packages
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Consolidate editorconfig
  .editorconfig
  src/blog-comment-function/.editorconfig
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump font-awesome to 6.6.0
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Hugo to 0.134.2
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  src/blog/layouts/404.html
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/css/prismjs.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Hugo to 0.138.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add comment by Richardmix on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JCY03VVHAZHENBBVK6A70RFZ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Eugeneeraby on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JD02R5V97TEV4THK3SPQ8QBY.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Eugeneeraby on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JD1A43HS9RRAJQM557NPF4T3.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by indica gummies on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JD2S45R5KVDJGBRG2QQYQQ6Y.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update comment function to .NET 9
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update Function App runtime to .NET 9.0
  eng/infra/blog.bicep
Due: none

Update .NET SDK in pipeline
  azure-pipelines.yml
  eng/azure-devops/steps/ensure-dotnet.yml
Due: none

Update pipeline to .NET 9
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Bump Hugo to 0.139.0
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
Due: none

Add comment by Test on 2024-05-03-AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03-AzureSqlDatabasePrivateEndpoint/01JD73HEPW56D5SA4VDQ5DQB6F.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump fontawesome to 6.7.1
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Enable composite ready to run
  eng/_pipeline/pipeline/IBlogCommentFunctionPipeline.cs
  eng/infra/blog.bicep
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add comment by Test on 2024-05-03-AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03-AzureSqlDatabasePrivateEndpoint/01JD7C4FE0DC62SK1NHXSCGKJ1.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Enforce strong TLS
  eng/infra/blog.bicep
Due: none

Optimize away 1 call to GitHub
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add comment by BriceCus on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JDAJT2HM6YG0Z6AFYAV4NRDR.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by KennethKip on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JDQG1BT7MT31D01RJQCSTTEB.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by KennethKip on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JDWGH29RNNGNVWRWG1N5TBCT.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by mood gummies on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01JDZ8MZGXKT5PT546W2H5X86J.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by evolution.Org.ua on 2024-05-03-AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03-AzureSqlDatabasePrivateEndpoint/01JE3WR4VRQGNG9F5VK1N3KT34.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by evolution.Org.ua on 2024-05-03-AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03-AzureSqlDatabasePrivateEndpoint/01JE3WR9RRS8741W7DXBX9EXJR.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by evolution.Org.ua on 2024-05-03-AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03-AzureSqlDatabasePrivateEndpoint/01JE3WRFK8E1PQA4Q7V5BXAMYC.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by evolution.Org.ua on 2024-05-03-AzureSqlDatabasePrivateEndpoint
  src/blog/data/comments/posts/2024-05-03-AzureSqlDatabasePrivateEndpoint/01JE3WRKYBFVCNGM3V3XADX116.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add build GitHub action
  .github/workflows/build.yml
Due: none

Add deploy workflow
  .github/workflows/deploy.yml
Due: none

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
