Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts/uploader
        artifact: bin
        publishLocation: pipeline

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Add clean step to build.cmd
  build.cmd
Due: none

Add blog comment azure function
  .github/dependabot.yml
  build.cmd
  eng/build-comment-function.ps1
  src/blog-comment-function/.editorconfig
  src/blog-comment-function/.gitattributes
  src/blog-comment-function/.gitignore
  src/blog-comment-function/BlogComments.sln
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/src/BlogComments/GitHub/AppClientTokenGenerator.cs
  src/blog-comment-function/src/BlogComments/GitHub/ICryptographicSigner.cs
  src/blog-comment-function/src/BlogComments/GitHub/IReadOnlyMemoryOwner.cs
  src/blog-comment-function/src/BlogComments/GitHub/ISystemClock.cs
  src/blog-comment-function/src/BlogComments/GitHub/KeyVaultRs256CryptographicSigner.cs
  src/blog-comment-function/src/BlogComments/GitHub/PooledByteBufferWriter.cs
  src/blog-comment-function/src/BlogComments/GitHub/RealSystemClock.cs
  src/blog-comment-function/src/BlogComments/GitHub/Utf8JsonSerializer.cs
  src/blog-comment-function/src/BlogComments/GitHubClientFactory.cs
  src/blog-comment-function/src/BlogComments/Properties/serviceDependencies.json
  src/blog-comment-function/src/BlogComments/Properties/serviceDependencies.local.json
  src/blog-comment-function/src/BlogComments/Startup.cs
  src/blog-comment-function/src/BlogComments/SubmitPostComment.cs
  src/blog-comment-function/src/BlogComments/host.json
Due: none

Add application insights to comment function
  infra/blog/BlogStack.cs
  infra/blog/Configuration.cs
  infra/blog/Pulumi.tst.yaml
Due: .ci/azure-pipelines/BlogInfraCI.yml

Add production config for static comments
  infra/blog/Pulumi.prd.yaml
Due: .ci/azure-pipelines/BlogInfraCI.yml

Force functions runtime to version 3
  infra/blog/BlogStack.cs
Due: .ci/azure-pipelines/BlogInfraCI.yml

Extract post existence check to own class
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/src/BlogComments/IPostExistenceChecker.cs
  src/blog-comment-function/src/BlogComments/PostExistenceChecker.cs
  src/blog-comment-function/src/BlogComments/Startup.cs
  src/blog-comment-function/src/BlogComments/SubmitPostComment.cs
Due: none

Fix key vault permissions
  infra/blog/BlogStack.cs
Due: .ci/azure-pipelines/BlogInfraCI.yml

Add request validation
  src/blog-comment-function/src/BlogComments/SubmitPostComment.cs
Due: none

Add local.settings.json
  src/blog-comment-function/src/BlogComments/local.settings.json
Due: none

Add nil checks for rendering comments
  src/blog/layouts/_default/single.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add function app to deployment script
  .ci/azure-pipelines/BlogContentDeploy.yml
  eng/deploy/deploy-blog.ps1
  eng/deploy/run-pulumi.ps1
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml

Add build pipeline for comment function
  .ci/azure-pipelines/BlogCommentFunctionCI.yml
  eng/build-comment-function.sh
Due: none

Add production comment url to config
  src/blog/config.toml
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add download task for function app deployment
  .ci/azure-pipelines/BlogContentDeploy.yml
Due: none

Fix missing source when uploading function app
  eng/deploy/deploy-blog.ps1
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml

Switch Uploader to new Azure client
  src/Uploader/src/Uploader/AzureContentDestination.cs
  src/Uploader/src/Uploader/ContentSyncer.cs
  src/Uploader/src/Uploader/IContentDestination.cs
  src/Uploader/src/Uploader/Properties/launchSettings.json
  src/Uploader/src/Uploader/Uploader.csproj
  src/Uploader/test/Uploader.Tests/Stubs/StubDestination.cs
Due: .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/uploader.yml

Switch to IAsyncEnumerable for file listing
  src/Uploader/src/Uploader/AzureContentDestination.cs
  src/Uploader/src/Uploader/ContentSyncer.cs
  src/Uploader/src/Uploader/IContentDestination.cs
  src/Uploader/src/Uploader/Program.cs
  src/Uploader/test/Uploader.Tests/Stubs/StubDestination.cs
Due: .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/uploader.yml

Bump Pulumi dependencies
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Add comment by Thanais on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01EJ8CT7BDTA03BCVYQM4D67EG.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi in run-pulumi.ps1
  eng/deploy/run-pulumi.ps1
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml

Bump Pulumi version in run-pulumi.ps1
  eng/deploy/run-pulumi.ps1
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml

Bump .NET Core dependencies
  src/Uploader/src/Uploader/Uploader.csproj
Due: .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/uploader.yml

Fix path detection in hugo-serve.cmd
  eng/hugo-serve.cmd
Due: none

Fix white comments when in dark mode
  src/blog/assets/css/darkmode.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.22.0
  eng/deploy/run-pulumi.ps1
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml

Update keyvault name
  infra/blog/Pulumi.prd.yaml
  infra/blog/Pulumi.tst.yaml
Due: .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 3.23.0
  eng/deploy/run-pulumi.ps1
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml

Bump fontawesome to 5.15.0
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Romanhat on 2020-07-09_FakeGitVersionLocalTool
  src/blog/data/comments/posts/2020-07-09_FakeGitVersionLocalTool/01EKQRKHG18VKVDMKFYDB22A08.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump fontawesome to 5.15.1
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump prism-themes to 1.4.1
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.24.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 3.24.1
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump hugo to 0.76.3
  eng/build-blog.sh
  src/blog/hugo.ps1
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Mick on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01EMFBA76YF75XRNDZE7VM5S0D.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Mick on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01EMFBAB1M99DGX52570A7SSNH.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump prismjs to 1.22.0
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump hugo to 0.76.4
  eng/build-blog.sh
  src/blog/hugo.ps1
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add busy spinner to comment form
  src/blog/assets/js/comment-form.js
  src/blog/layouts/_default/single.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix wording in comment succes text
  src/blog/layouts/_default/single.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Path conditions:
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
