Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader

Bump Pulumi.Azure to 3.33.2
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.CloudFlare to 2.9.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 3.41.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Disable deploy script trigger
  .ci/azure-pipelines/BlogContentDeploy.yml
Due: none

Bump hugo to 0.80.0
  eng/build-blog.sh
  src/blog/hugo.ps1
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump prismjs to 1.23.0
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Refactor property to readonly field
  src/blog/content/posts/2020-04-02_SqlServerIntegrationTesting.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi to 2.11.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump bootstrap to 5.0.0-alpha2
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-4.5.3/bootstrap.css
  src/blog/assets/dist/bootstrap-5.0.0-alpha2/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix removed classes
  src/blog/assets/css/comments.scss
  src/blog/assets/css/summary.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.0.0-alpha3
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.0.0-alpha3/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix renamed class
  src/blog/assets/css/single.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove underline from heading links
  src/blog/assets/css/main.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix white text in tags
  src/blog/assets/css/summary.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix bootstrap alerts
  src/blog/layouts/partials/deps/js/bootstrap.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix close buttons on alerts
  src/blog/layouts/partials/deprecated-warning.html
  src/blog/layouts/shortcodes/notice.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix alignment in navbar
  src/blog/assets/css/navbar.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix alert dismissal
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/layouts/shortcodes/notice.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix darkmode table
  src/blog/assets/css/darkmode.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add centering to pagination
  src/blog/assets/css/main.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add darken to post tags on mouse over
  src/blog/assets/css/main.scss
  src/blog/assets/css/summary.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add dark mode for pagination
  src/blog/assets/css/darkmode.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Use bootstrap variable for inline code color
  src/blog/assets/css/darkmode.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix deprecated warning alerts
  src/blog/layouts/partials/deprecated-warning.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Restore table top border
  src/blog/assets/css/single.scss
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.0.0-beta1
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.0.0-beta1/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add prismjs customization for class names
  src/blog/assets/js/customize-prism.js
  src/blog/layouts/partials/deps/js/prismjs.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.41.1
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 3.42.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump FluentValidation to 9.4.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi.CloudFlare to 2.11.1
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump fontawesome to 5.15.2
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump FluentValidation to 9.5.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi packages
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump FluentValidation to 9.5.1
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi.Azure to 3.49.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.CloudFlare to 2.13.1
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Octokit to 0.50.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Remove deprecated construct
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/AntiSpamValidator.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml
