Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Bump bootstrap to 5.0.0-beta2
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.0.0-beta2/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.50.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump FluentValidation to 9.5.2
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump FluentValidation to 9.5.3
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi.Azure 3.51.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.CloudFlare to 2.14.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump fontawesome to 5.15.3
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump prism-themes to 1.6.0
  src/blog/layouts/partials/deps/css/prismjs.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Only publish production code
  eng/build-comment-function.ps1
Due: none

Downgrade options package
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump FluentValidation to 10.0.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi.Azure to 3.54.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pului.CloudFlare to 2.14.2
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Increase timeout for uploader
  src/Uploader/src/Uploader/Program.cs
Due: .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/uploader.yml

Add comment by Test on 2020-04-02_SqlServerIntegrationTesting
  src/blog/data/comments/posts/2020-04-02_SqlServerIntegrationTesting/01F2RX4N4V4A97R2KANNP0VP55.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix typo in BaseConnectionString
  src/blog/content/posts/2020-04-02_SqlServerIntegrationTesting.md
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.Azure to 3.56.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.CloudFlare to 2.15.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump FluentValidation to 10.0.2
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Rewrite darkmode scripts in TypeScript
  src/blog/assets/js/.gitignore
  src/blog/assets/js/darkmode.js
  src/blog/assets/js/darkmode.ts
  src/blog/layouts/_default/baseof.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by ilazinosujod on 2019-03-16_SshCmdletsInPoshGit
  src/blog/data/comments/posts/2019-03-16_SshCmdletsInPoshGit/01F3GMN7KNW3APKN5JPJNR3K22.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by isodeqegooo on 2019-03-16_SshCmdletsInPoshGit
  src/blog/data/comments/posts/2019-03-16_SshCmdletsInPoshGit/01F3GNDYKKZ90WKKBE8JER5VQD.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Pulumi.CloudFlare to 3.0.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 4.0.1
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump FluentValidation to 10.1.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump jquery to 3.6.0
  src/blog/layouts/partials/deps/js/jquery.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.0.0-beta3
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.0.0-beta3/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.0.0
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.0.0/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump hugo to 0.83.1
  eng/build-blog.sh
  src/blog/hugo.ps1
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump FluentValidation to 10.2.1
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi.CloudFlare to 3.1.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.Azure to 4.6.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump bootstrap to 5.0.1
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.0.1/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Linda on 2019-01-18_UsingWindowsSshWithGit
  src/blog/data/comments/posts/2019-01-18_UsingWindowsSshWithGit/01F79K1EJABKJHPQ13FPJH361A.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove whitespace
  src/blog/assets/js/comment-form.js
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Extend post deprecation to 3 years instead of 2
  src/blog/config.toml
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by unlatiabala on 2018-08-13_HelloWorld
  src/blog/data/comments/posts/2018-08-13_HelloWorld/01FA3P3MFXHQ3Z4M5MTD5WN3QJ.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update spam filter
  src/blog-comment-function/src/BlogComments/Functions/ModelBinding/AntiSpamValidator.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Bump Pulumi.Azure to 4.9.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Bump Pulumi.CloudFlare to 3.2.0
  eng/deploy/run-pulumi.ps1
  infra/blog/blog.csproj
Due: .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
