Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/BlogCommentFunctionCI.yml, .ci/azure-pipelines/BlogContentCI.yml, .ci/azure-pipelines/BlogDeployScriptsCI.yml, .ci/azure-pipelines/BlogInfraCI.yml, .ci/azure-pipelines/BlogUploaderCI.yml, eng/pipelines/blog.yml, eng/pipelines/uploader.yml

.ci/azure-pipelines/BlogCommentFunctionCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-comment-function.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish function app
      inputs:
        targetPath: artifacts/blog-comment-function.zip
        artifact: bin
  ...

.ci/azure-pipelines/BlogContentCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-blog.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish website
      inputs:
        targetPath: artifacts/blog
        artifact: content
        publishLocation: pipeline

.ci/azure-pipelines/BlogDeployScriptsCI.yml:
  jobs:
  - job: Package
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PublishPipelineArtifact@1
      displayName: Publish scripts
      inputs:
        targetPath: eng/deploy
        artifact: scripts
        publishLocation: pipeline

.ci/azure-pipelines/BlogInfraCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - bash: eng/build-infra.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
      displayName: Publish infra
      inputs:
        targetPath: artifacts/infra
        artifact: pulumi
        publishLocation: pipeline

.ci/azure-pipelines/BlogUploaderCI.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: Use .NET 5 sdk
      inputs:
        packageType: sdk
        version: 5.0.x
    - bash: eng/build-uploader.sh
      displayName: Run build script
    - task: PublishPipelineArtifact@1
  ...

eng/pipelines/blog.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: PowerShell@2
    displayName: Run build script
    inputs:
      filePath: .\eng\build-blog.ps1
  - task: PublishPipelineArtifact@1
    displayName: Publish website
    inputs:
      targetPath: artifacts\blog
      artifact: content
      publishLocation: pipeline

eng/pipelines/uploader.yml:
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest
    steps:
    - task: PowerShell@2
      displayName: Run build script
      inputs:
        filePath: .\eng\build-uploader.ps1
    - task: PublishPipelineArtifact@1
      displayName: Publish uploader
      inputs:
        targetPath: artifacts\uploader
  ...

Update packages
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Update comment app to .NET 8
  eng/infra/blog.bicep
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostComment.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostCommentReply.cs
  src/blog-comment-function/src/BlogComments/GitHubOptions.cs
  src/blog-comment-function/src/BlogComments/KeyVaultOptions.cs
  src/blog-comment-function/src/BlogComments/Program.cs
  src/blog-comment-function/src/BlogComments/Startup.cs
  src/blog-comment-function/src/BlogComments/local.settings.json
  src/blog-comment-function/tests/BlogComments.Tests/BlogComments.Tests.csproj
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Fix quotes
  eng/_pipeline/pipeline/Azure/AzCli.cs
Due: none

Update function app
  azure-pipelines.yml
  eng/infra/blog.bicep
  src/blog-comment-function/src/BlogComments/Program.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Replace time abstraction
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
  src/blog-comment-function/src/BlogComments/GitHub/Jwt/AppClientTokenGenerator.cs
  src/blog-comment-function/src/BlogComments/ISystemClock.cs
  src/blog-comment-function/src/BlogComments/Program.cs
  src/blog-comment-function/src/BlogComments/RealSystemClock.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Fix functions startup
  eng/_pipeline/pipeline/Azure/AzStorage.cs
  src/blog-comment-function/src/BlogComments/Functions/Persistence/CommentRepository.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostComment.cs
  src/blog-comment-function/src/BlogComments/Functions/SubmitPostCommentReply.cs
  src/blog-comment-function/src/BlogComments/Program.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add comment by Test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01HGR4VCY2XMY7EM9S78BH8A79.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Use Linux as function app OS
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/IBlogCommentFunctionPipeline.cs
  eng/infra/blog.bicep
  eng/infra/monitoring.bicep
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/Functions/ModelBinding/ModelBinderTests.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Set required parameter
  eng/infra/blog.bicep
Due: none

Try fix linuxFxVersion
  eng/infra/blog.bicep
Due: none

Try another fix for linuxFxVersion
  eng/infra/blog.bicep
Due: none

Try DOTNET as value for linuxFxVersion
  eng/infra/blog.bicep
Due: none

Use DOTNET-ISOLATED
  eng/infra/blog.bicep
Due: none

Add comment by test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01HGRR2MNP0E6PWQEZMXHB146V.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01HK5483HAWGBB1Y53D9R2BTS0.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update pipeline and bicep generator
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGenerator.Tests.csproj
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsAttributeClass#BicepFileAttribute.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsAttributeClass#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsModulesAsSeparateDeployments#BicepFileAttribute.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsModulesAsSeparateDeployments#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsModulesAsSeparateDeployments#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputs#BicepFileAttribute.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputs#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputs#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputsWhenUsingFullyQualifiedAttribute#BicepFileAttribute.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputsWhenUsingFullyQualifiedAttribute#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsNamedDeploymentWithOutputsWhenUsingFullyQualifiedAttribute#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsParametersWithInputs#BicepFileAttribute.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsParametersWithInputs#BicepFileAttribute.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.EmitsParametersWithInputs#StronglyTypedBicepGeneratorTests.Generated.verified.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/StronglyTypedBicepGeneratorTests.cs
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/TestFiles/moduleTemplate.bicep
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/TestFiles/outputOnly.bicep
  eng/_pipeline/StronglyTypedBicepGenerator.Tests/TestFiles/templateWithModule.bicep
  eng/_pipeline/StronglyTypedBicepGenerator/CodeWriter.cs
  eng/_pipeline/StronglyTypedBicepGenerator/Parser/BicepDataType.cs
  eng/_pipeline/StronglyTypedBicepGenerator/Parser/BicepParameter.cs
  eng/_pipeline/StronglyTypedBicepGenerator/Parser/BicepParser.cs
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.cs
  eng/_pipeline/StronglyTypedBicepGenerator/StronglyTypedBicepGenerator.csproj
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/Bicep.cs
  eng/_pipeline/pipeline/CloudFlare/CloudFlareClient.cs
  eng/_pipeline/pipeline/CloudFlare/CloudFlareResponse.cs
  eng/_pipeline/pipeline/CloudFlare/DnsRecord.cs
  eng/_pipeline/pipeline/Program.cs
  eng/_pipeline/pipeline/pipeline.csproj
Due: none

Fix deploy issues
  eng/_pipeline/pipeline/Azure/AzCli.cs
  eng/_pipeline/pipeline/Program.cs
Due: none

Try run on free tier
  eng/infra/blog.bicep
Due: none

Revert "Try run on free tier"
  eng/infra/blog.bicep
Due: none

Remove jquery
  src/blog/assets/js/comment-form.js
  src/blog/assets/js/darkmode.ts
  src/blog/layouts/_default/single.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/layouts/partials/deps/js/jquery.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01HKBAFSH7ED9WTKC0HW20G75B.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump Octokit to 9.1.0
  src/blog-comment-function/src/BlogComments/BlogComments.csproj
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Helpers/PemPrivateKeyConverterTests.cs
  src/blog-comment-function/tests/BlogComments.Tests/GitHub/Jwt/InMemoryRs256CryptographicSignerTests.cs
Due: .ci/azure-pipelines/BlogCommentFunctionCI.yml

Add comment by Test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01HKBAVSQT2YN3NVEDQNNK392R.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Convert comment form script to typescript
  src/blog/assets/js/comment-form.js
  src/blog/assets/js/comment-form.ts
  src/blog/layouts/_default/baseof.html
  src/blog/layouts/_default/single.html
  src/blog/layouts/partials/blog-comment.html
  src/blog/layouts/partials/deps/js/index.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump bootstrap to 5.3.2
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-5.3.2/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix formatting
  src/blog/layouts/partials/blog-comment.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Bump font-awesome to 6.5.1
  src/blog/layouts/partials/deps/css/index.html
  src/blog/layouts/partials/deps/js/index.html
  src/blog/package.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by test on 2022-09-09_GitVersionWithNukeInAzurePipelines
  src/blog/data/comments/posts/2022-09-09_GitVersionWithNukeInAzurePipelines/01HKDR8V2T8W3TYKQ4WPYEK1GA.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Fix GitHub edit link
  src/blog/layouts/partials/footer.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update twitter icon
  src/blog/layouts/partials/footer.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Remove automatic deprecation warning
  src/blog/layouts/partials/deprecated-warning.html
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Update pipeline
  eng/_pipeline/pipeline/CloudFlare/DnsRecord.cs
  eng/_pipeline/pipeline/CloudFlare/DnsRecordType.cs
  eng/_pipeline/pipeline/IBlogContentPipeline.cs
  eng/_pipeline/pipeline/IProvideConfiguration.cs
  eng/_pipeline/pipeline/Program.cs
  eng/infra/blog.bicep
  eng/infra/keyVault.bicep
Due: none

Add comment by Georgeaudic on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01HNEHG33RPYXDSY0MAV78R5SG.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by Georgeaudic on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01HNGJ8V2A0XZBDCZ9H3DJJ71V.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by MichaelBet on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01HP59VD2F2WV3APWP57E8BV5G.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by MichaelBet on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01HP8KV8GBGW0WGP4XRM46GS6Z.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by JarrodImpef on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01HPGEVD8RBJSJ2G2W9XYZR01P.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by JarrodImpef on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01HPMN3YA8230X8M6H0EV82KHE.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Add comment by JarrodImpef on 2022-06-22_EasyAzureRBACWithBicep
  src/blog/data/comments/posts/2022-06-22_EasyAzureRBACWithBicep/01HPREXH2S6P4KKV8TWQF4CY7G.json
Due: .ci/azure-pipelines/BlogContentCI.yml, eng/pipelines/blog.yml

Path conditions:
  .ci/azure-pipelines/BlogCommentFunctionCI.yml: any of: src/blog-comment-function, .ci/azure-pipelines/BlogCommentFunctionCI.yml, eng/build-comment-function.sh
  .ci/azure-pipelines/BlogContentCI.yml: any of: src/blog, .ci/azure-pipelines/BlogContentCI.yml, eng/build-blog.sh
  .ci/azure-pipelines/BlogDeployScriptsCI.yml: any of: eng/deploy
  .ci/azure-pipelines/BlogInfraCI.yml: any of: infra, .ci/azure-pipelines/BlogInfraCI.yml, eng/build-infra.sh
  .ci/azure-pipelines/BlogUploaderCI.yml: any of: src/Uploader, .ci/azure-pipelines/BlogUploaderCI.yml, eng/build-uploader.sh
  eng/pipelines/blog.yml: any of: src/blog
  eng/pipelines/uploader.yml: any of: src/Uploader
