Repository jvandertil/blog: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/blog.yml, eng/pipelines/uploader.yml

eng/pipelines/blog.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
   include:
     - master
  paths:
    include:
      - src/blog/*

pool:
  vmImage: 'windows-latest'

steps:
- task: PowerShell@2
  displayName: 'Run build script'
  inputs:
    filePath: '.\eng\build-blog.ps1'
- task: PublishPipelineArtifact@1
  displayName: 'Publish website'
  inputs:
    targetPath: 'artifacts\blog'
    artifact: 'content'
    publishLocation: 'pipeline'

eng/pipelines/uploader.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
   include:
     - master
  paths:
    include:
      - src/Uploader/*

jobs:
- job: Build
  pool:
    vmImage: 'windows-latest'
  steps:
    - task: PowerShell@2
      displayName: 'Run build script'
      inputs:
        filePath: '.\eng\build-uploader.ps1'
    - task: PublishPipelineArtifact@1
      displayName: 'Publish uploader'
      inputs:
        targetPath: 'artifacts\uploader'
        artifact: 'bin'
        publishLocation: 'pipeline'

Fix paths after restructure
  .github/dependabot.yml
Due: none

Bump hugo to 0.74.3
  src/blog/hugo.ps1
Due: eng/pipelines/blog.yml

Move Azure Pipelines config
  .ci/azure-pipelines/blog-content.yml
  .ci/azure-pipelines/uploader.yml
Due: none

Add .vs to gitignore
  .gitignore
Due: none

Remove implicit build from uploader publish
  eng/build-uploader.ps1
Due: none

Add command line interface for Uploader
  src/Uploader/src/Uploader/AzureContentDestination.cs
  src/Uploader/src/Uploader/CloudFlareCachePurger.cs
  src/Uploader/src/Uploader/CloudFlareConfiguration.cs
  src/Uploader/src/Uploader/IContentDestination.cs
  src/Uploader/src/Uploader/MimeTypes/MimeTypeMap.cs
  src/Uploader/src/Uploader/Program.cs
  src/Uploader/src/Uploader/Uploader.csproj
  src/Uploader/src/Uploader/UrlsToPurgeContent.cs
  src/Uploader/test/Uploader.Tests/CloudFlareCachePurgerFacts.cs
  src/Uploader/test/Uploader.Tests/Uploader.Tests.csproj
Due: eng/pipelines/uploader.yml

Remove unused what-if mode from uploader
  src/Uploader/src/Uploader/AzureContentDestination.cs
Due: eng/pipelines/uploader.yml

Add explicit end of scope to uploader
  src/Uploader/src/Uploader/Program.cs
Due: eng/pipelines/uploader.yml

Rename pipeline yaml files
  .ci/azure-pipelines/BlogContentCI.yml
  .ci/azure-pipelines/BlogUploaderCI.yml
Due: none

Add pulumi infrastructure project
  .ci/azure-pipelines/BlogInfraCI.yml
  .github/dependabot.yml
  build.cmd
  eng/build-infra.ps1
  infra/.gitignore
  infra/BlogStack.cs
  infra/Configuration.cs
  infra/Program.cs
  infra/Pulumi.prd.yaml
  infra/Pulumi.tst.yaml
  infra/Pulumi.yaml
  infra/blog.csproj
Due: none

Add deployment scripts
  .ci/azure-pipelines/BlogDeployScriptsCI.yml
  eng/deploy/add-current-client-authorization.ps1
  eng/deploy/deploy-blog.ps1
  eng/deploy/helpers.ps1
  eng/deploy/remove-current-client-authorization.ps1
  eng/deploy/run-pulumi.ps1
Due: none

Add plugin installation to run-pulumi.ps1
  eng/deploy/run-pulumi.ps1
  infra/blog.csproj
Due: none

Add full domain output to Pulumi stack
  eng/deploy/deploy-blog.ps1
  eng/deploy/run-pulumi.ps1
  infra/BlogStack.cs
Due: none

Prepare deployment for master
  .ci/azure-pipelines/BlogContentDeploy.yml
Due: none

Add deployment yaml pipeline file
  .ci/azure-pipelines/BlogContentDeploy.yml
Due: none

Disable PR trigger for deployment pipeline
  .ci/azure-pipelines/BlogContentDeploy.yml
Due: none

Bump bootstrap to 4.5.1
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-4.5.1/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: eng/pipelines/blog.yml

Switch blog build to linux
  .ci/azure-pipelines/BlogContentCI.yml
  eng/build-blog.sh
Due: none

Remove template header from pipelines
  .ci/azure-pipelines/BlogContentCI.yml
  .ci/azure-pipelines/BlogInfraCI.yml
  .ci/azure-pipelines/BlogUploaderCI.yml
Due: none

Switch infra build to linux
  .ci/azure-pipelines/BlogInfraCI.yml
  eng/build-infra.sh
Due: none

Remove branch filter for CI pipelines
  .ci/azure-pipelines/BlogContentCI.yml
  .ci/azure-pipelines/BlogUploaderCI.yml
Due: none

Switch uploader build to linux
  .ci/azure-pipelines/BlogUploaderCI.yml
  eng/build-uploader.sh
Due: none

Add PR validation for deployment scripts
  .ci/azure-pipelines/BlogContentDeploy.yml
Due: none

Add comment to indicate dependency
  eng/build-blog.sh
  src/blog/hugo.ps1
Due: eng/pipelines/blog.yml

Revert "Add PR validation for deployment scripts"
  .ci/azure-pipelines/BlogContentDeploy.yml
Due: none

Replace MimeTypeMap with NuGet package
  src/Uploader/src/Uploader/AzureContentDestination.cs
  src/Uploader/src/Uploader/IMimeTypeMap.cs
  src/Uploader/src/Uploader/MimeTypes/MimeTypeMap.cs
  src/Uploader/src/Uploader/Program.cs
  src/Uploader/src/Uploader/SamuellNeffMimeTypeMap.cs
  src/Uploader/src/Uploader/Uploader.csproj
  src/Uploader/test/Uploader.Tests/SamuellNeffMimeTypeMapFacts.cs
Due: eng/pipelines/uploader.yml

Bump bootstrap to 4.5.2
  src/blog/assets/css/main.scss
  src/blog/assets/dist/bootstrap-4.5.1/bootstrap.css
  src/blog/assets/dist/bootstrap-4.5.2/bootstrap.css
  src/blog/layouts/partials/deps/js/bootstrap.html
  src/blog/package.json
Due: eng/pipelines/blog.yml

Bump prismjs to 1.21.0
  src/blog/layouts/partials/deps/js/prismjs.html
  src/blog/package.json
Due: eng/pipelines/blog.yml

BLOG: Fix author-card not respecting dark mode
  src/blog/assets/css/darkmode.scss
Due: eng/pipelines/blog.yml

Add comment by jvandertil on 2018-08-13_HelloWorld
  src/blog/data/comments/posts/2018-08-13_HelloWorld/01EFCJ8AQHTYF4R6GGYSXMBY6C.json
Due: eng/pipelines/blog.yml

Bump Pulumi.Azure plugin to 3.15.0
  eng/deploy/run-pulumi.ps1
Due: none

Bump .NET Core dependencies to 3.1.7
  src/Uploader/src/Uploader/Uploader.csproj
Due: eng/pipelines/uploader.yml

Bump pulumi Azure plugin to 3.16.0
  eng/deploy/run-pulumi.ps1
Due: none

Remove disqus comments
  src/blog/config.toml
  src/blog/layouts/_default/single.html
Due: eng/pipelines/blog.yml

Remove secret from service names in stack
  infra/BlogStack.cs
  infra/Configuration.cs
Due: none

Add infrastructure for blog comment function
  eng/build-infra.ps1
  eng/build-infra.sh
  infra/BlogStack.cs
  infra/blog/.gitignore
  infra/blog/BlogStack.cs
  infra/blog/Configuration.cs
  infra/blog/Program.cs
  infra/blog/Pulumi.prd.yaml
  infra/blog/Pulumi.tst.yaml
  infra/blog/Pulumi.yaml
  infra/blog/blog.csproj
  infra/infra.sln
Due: none

Add nameof statement for function name
  src/blog-comment-function/src/BlogComments/SubmitPostComment.cs
Due: none

Fix function CORS configuration
  infra/blog/BlogStack.cs
Due: none

Move pull request creation toggle to configuration
  infra/blog/BlogStack.cs
  infra/blog/Configuration.cs
  infra/blog/Pulumi.tst.yaml
Due: none

Add static comments to posts
  src/blog/assets/css/single.scss
  src/blog/assets/js/comment-form.js
  src/blog/config.toml
  src/blog/layouts/_default/single.html
  src/blog/layouts/partials/deps/js/index.html
Due: eng/pipelines/blog.yml
